<!-- SVG ICON -->
<div class="input-field">
    <div class="input-field-label">
        <label class="mode-color-text-1 title title-3" for="icon_svg">SVG icon</label>
        {% if icon_svg_message %}
            <p class="system-message">{{ icon_svg_message }}</p>
        {% endif %}
    </div>
    <textarea placeholder="SVG code" id="icon_svg" name="icon_svg" class="{% if icon_svg_message %}bound-element error-border{%endif%} mode-background-3 mode-color-text-1" autocomplete="off">{% if service %}{{ service.icon_svg }}{% else %}{% if tmp_icon_svg %}{{ tmp_icon_svg }}{%endif%}{% endif %}</textarea>
</div>