<!-- Car Brand -->
<div class="input-field">
    <div class="input-field-label">
        <label class="mode-color-text-1 title title-3">Car brand</label>
        {% if car_brand_message %}
            <p class="system-message">{{ car_brand_message }}</p>
        {% endif %}
    </div>
    <input placeholder="Audi" maxlength="50" type="text" name="car_brand" class="{% if car_brand_message %}bound-element error-border{%endif%} mode-background-3 mode-color-text-1" autocomplete="off" 
    {% if client %}
        value="{{ client.car_brand }}"
    {% else %}
        {% if car_brand %}value="{{ car_brand }}"{%endif%}
    {% endif %}
    >
</div>