
<!-- First name -->
<div class="input-field">
    <div class="input-field-label">
        <label class="mode-color-text-1 title title-3">First Name</label>
        {% if first_name_message %}
            <p class="system-message">{{ first_name_message }}</p>
        {% endif %}
    </div>
    <input id="first_name" placeholder="Martin" maxlength="100" type="text" name="first_name" class="{% if first_name_message %}bound-element error-border{%endif%} mode-background-3 mode-color-text-1" autocomplete="off" 
    {% if client %}
        value="{{ client.first_name }}"
    {% else %}
        {% if tmp_first_name %}value="{{tmp_first_name}}"{%endif%}
    {% endif %}
    >
</div>