
<!-- Last name -->
<div class="input-field">
    <div class="input-field-label">
        <label class="mode-color-text-1 title title-3">Last Name</label>
        {% if last_name_message %}
            <p class="system-message">{{ last_name_message }}</p>
        {% endif %}
    </div>
    <input placeholder="Lee" maxlength="100" type="text" name="last_name" class="{% if last_name_message %}bound-element error-border{%endif%} mode-background-3 mode-color-text-1" autocomplete="off" 
    {% if client %}
        value="{{ client.last_name }}"
    {% else %}
        {% if tmp_last_name %}value="{{ tmp_last_name }}"{%endif%}
    {% endif %}
    >
</div>