/* PATH */
.path {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    padding: 20px;
    width: 100%;
}
.path-line {
    display: flex;
    align-items: center;
}
.path .path-line span {
    margin: 0px 10px;
}
.new-client-button a {
    text-decoration: none;
}
/* END PATH */