{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/create.css') }}">
{% endblock %}
{% block content %}
    
    {# PATH #}
    <div class="path mode-background-2">
        <div class="wrinner">
            <div class="path-line">
                <a href="/{{current_page}}" class="title title-4 theme-color-hover">{{ current_page }}</a>
                <span class="title title-4 mode-color-text-1">/</span>
                <p class="title title-4 mode-color-text-1">Update</p>
            </div>
        </div>
    </div>


    {# SERVICES #}
    <section id="general-content">
        <div class="wrinner">
            {# FORM #}
            <form class="mode-background-1 pd-20 br-10" method="post" action="/{{current_dir_many}}/update/{{client.unique_code}}">
                
                <div class="form-title">
                    <h1 class="mode-color-text-1 title title-3">Update - {{ client.first_name | title }} {{ client.last_name | title}}</h1>
                </div>

                <div class="wrapper">
                    {% include '/pages/clients/elements/first_name.html' %}
                    {% include '/pages/clients/elements/last_name.html' %}
                </div>
                {% include '/pages/clients/elements/email.html' %}
                {% include '/pages/clients/elements/phone.html' %}

                <div class="wrapper">
                    {% include '/pages/clients/elements/car_brand.html' %}
                    {% include '/pages/clients/elements/car_model.html' %}
                </div>
                <div class="wrapper-3">
                    {% include '/pages/clients/elements/year.html' %}
                    {% include '/pages/clients/elements/plate.html' %}
                    {% include '/pages/clients/elements/color.html' %}
                </div>

                <!-- BUTTON -->
                <div class="input-field-button">
                    <button class="btn-small br-5 theme-background-hover">Save</button>
                </div>

            </form>
        </div>
    </section>

{% endblock %}
{% block scripts %}{% endblock %}