<!-- TO CSV -->
<div class="restore-section-list-block mode-background-1 pd-20 br-5">
    <div class="restore-section-list-block-title">
        <p class="title title-5 mode-color-text-1">Format</p>
        <div class="download-section">
            <div class="svg-icon">
                {% include "icons/csv.svg" %}
            </div>
            <a href="/restore/download-csv" class="mode-background-2 br-5 mode-color-text-2-hover"> {% include "icons/download.svg" %}</a>
        </div>
    </div>
</div>